<header class="bg-gray-900 text-white py-4 px-8">
	<div class="container mx-auto flex items-center justify-between">
		<a href="{{ path('main') }}" class="text-2xl font-bold tracking-tight">Mon site</a>
		<nav class="flex">
			<ul class="flex items-center justify-between font-bold text-lg mr-6">
				<li>
					<a href="{{ path('main') }}" class="text-gray-400 hover:text-white mr-6">Accueil</a>
				</li>
				<li>
					<a href="#" class="text-gray-400 hover:text-white mr-6">À propos</a>
				</li>
				<li>
					<a href="#" class="text-gray-400 hover:text-white">Contact</a>
				</li>
			</ul>
			<div class="h-12 w-0.5 bg-white"></div>
			<ul class="flex items-center justify-between font-bold text-lg ml-6">
				{% if app.user %}
					<li>
						<a href="{{ path('profile_index') }}" class="text-gray-400 hover:text-white mr-6">Mon compte</a>
					</li>
					{% if is_granted('ROLE_ADMIN') %}
						<li>
							<a href="{{ path('admin_product_index') }}" class="text-red-400 hover:text-red-600 mr-6">Admin</a>
						</li>
					{% endif %}
					<li>
						<a href="{{ path('app_logout') }}" class="text-gray-400 hover:text-white">Déconnexion</a>
					</li>
				{% else %}
					<li>
						<a href="{{ path('app_register') }}" class="text-gray-400 hover:text-white mr-6">Inscription</a>
					</li>
					<li>
						<a href="{{ path('app_login') }}" class="text-gray-400 hover:text-white">Connexion</a>
					</li>
				{% endif %}


			</ul>
		</nav>
	</div>
</header>
